.mobile-menu__close-button {
  position: absolute;
  max-width: 30px;
  max-height: 30px;
  padding: 0;
  right: 30px;
  top: 35px;
  -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  cursor: pointer;
  border: 0;
  background-image: url('../../../images/plus.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
}

.mobile-menu__close-button:hover {
  opacity: 0.6;
}