@import url('./__text/footer__text.css');

.footer {
  max-width: 318px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  margin-left: calc((100% - 882px) / 2);
  padding-bottom: 60px;
}

@media (max-width: 904px) {
  .footer {
    margin-left: 19px;
  }
}

@media (max-width: 599px) {
  .footer {
    max-width: 282px;
    margin: auto;
    padding-bottom: 32px;
  }
}